<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>FilmAlvaritty | Gestión de películas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${mainTitle}"></div>
        <div class="card-body">

            <img th:if="${#strings.length(film.generateBase64Image()) > 0}" class="img-thumbnail rounded float-left"
                 style="max-width: 25%;" th:src="'data:image/jpeg;base64,' + ${film.generateBase64Image()}"
                 alt="Póster de la película" />

            <ul class="list-group">
                <li class="list-group-item active" th:text="${film.title}"></li>
                <li class="list-group-item" th:text="'Año: ' + ${film.year}"></li>
                <li class="list-group-item" th:text="'Duración (min): ' + ${film.runningTime}"></li>
                <li class="list-group-item" th:text="'País de origen: ' + ${film.country}"></li>
                <li class="list-group-item" th:text="'Director :' + ${film.director}"></li>
                <li class="list-group-item" th:text="'Género: '+ ${film.genre}"></li>
                <li class="list-group-item" th:text="'Sinoposis: ' + ${film.synopsis}"></li>
                <li class="list-group-item" th:text="'Puntuación: ' + ${averageRating}"></li>
            </ul>

            <div class="mb-3">
                <ul class="list-group">
                    <label class="form-label">Reparto</label>
                    <a th:each="actor : ${film.cast}" th:href="@{/filmAlvaritty/actors/edit/} + ${actor.idActor}">
                        <li class="list-group-item" th:text="${actor.name}"></li>
                    </a>
                </ul>
            </div>

            <ul class="list-group" th:each="review : ${reviewList}">
                <li class="list-group-item active" th:text="'Crítica ' + ${review.idReview}"></li>
                <li class="list-group-item" th:text="'Puntuación: ' + ${review.rating}"></li>
                <li class="list-group-item" th:text="'Comentario: ' + ${review.opinion}"></li>
                <li class="list-group-item" th:text="'Fecha: ' + ${review.date}"></li>
                <li class="list-group-item" th:text="'Usuario: ' + ${review.user.nombre}"></li>
            </ul>

        </div>
    </div>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/filmAlvaritty/films/list}">Volver al listado de películas</a>
</div>

</body>
</html>