<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>FilmAlvaritty | Gestión de películas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 class="text-center">Gestión de películas</h1>
    <hr>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Listado de películas</h3>
                <a class="btn btn-link" th:href="@{/filmAlvaritty/films/list}">
                    Listado de películas
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Buscar películas</h3>
                <a class="btn btn-link" th:href="@{/filmAlvaritty/films/search}">
                    Buscar películas
                </a>
            </div>
        </div>

        <div class="card" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="card-body">
                <h3 class="card-title">Listado de actores</h3>
                <a class="btn btn-link" th:href="@{/filmAlvaritty/actors/list}">
                    Listado de actores
                </a>
            </div>
        </div>

        <div class="card" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="card-body">
                <h3 class="card-title">Listado usuarios</h3>
                <a class="btn btn-link" th:href="@{/cusuarios/listado}">
                    Listado de usuarios
                </a>
            </div>
        </div>

        <div class="card" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="card-body">
                <h3 class="card-title">Listado de reseñas</h3>
                <a class="btn btn-link" th:href="@{/creviews/list}">
                    Listado de reseñas
                </a>
            </div>
        </div>

        <div class="card" sec:authorize="hasRole('ROLE_USER')">
            <div class="card-body">
                <h3 class="card-title">Listado de mis reseñas</h3>
                <a class="btn btn-link" th:href="@{/creviews/list/currentUser}">
                    Listado de reseñas del usuario
                </a>
            </div>
        </div>

        <div class="card" sec:authorize="hasRole('ROLE_USER')">
            <div class="card-body">
                <h3 class="card-title">Editar tus datos de usuario</h3>
                <a class="btn btn-link" th:href="@{/cusuarios/editar/currentUser}">
                    Editar tus datos de usuario
                </a>
            </div>
        </div>

    </div>
    <a class="btn btn-primary" role="button" th:href="@{/logout}">Salir</a>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>